body {
	width: 800px;
	margin: 0 auto;
	color: #212121;
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	text-align: center;
}

a {
	text-decoration: none;
	color: #C03C1F;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}
